<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>

  <body>
    <header>
      <div class="logo">
        Logo
      </div>
      <div class="nav">
        navigation
      </div>
    </header>

    <h1><%= htmlWebpackPlugin.options.somethingElse %></h1>

    <main>
      <section>
        <form action="/test" method="get" onsubmit="return MyLib.submitForm(event)">
          <input name="pass" type="password" value="secret" />
          <button type="submit">submit</button>
        </form>
      </section>
      <section>
        <strong>Form Results:</strong>
        <div id="results"></div>
      </section>
    </main>

    <footer>
      <button onclick="MyLib.buttonClick(event);">click me</button>
      <button onclick="MyLib.reload(event);">reload</button>
      <p>This is a footer</p>
    </footer>
  </body>
</html>
