<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>

  <body>
    <header>
      <div class="">
        Logo
      </div>
      <div class="">
        navigation
      </div>
    </header>

    <h1><%= htmlWebpackPlugin.options.somethingElse %></h1>

    <main>
      <section>
        <form action="/test" method="get">
          <input name="pass" type="password" value="secret" />
          <button type="submit">submit</button>
        </form>
      </section>
      <section>
        <strong>Form Results:</strong>
        <div id="results"></div>
      </section>
    </main>

    <footer>
      <p>This is a footer</p>
    </footer>
  </body>
</html>
